*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
flex-direction: column;
/* height: 100vh; */
    /* border: 2px solid #333; */
     /* background-color: #9b0fdb; */
     align-items: center;
    justify-content: center;
}
h1{
    margin-top: 35vh;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:#fff;
}
.con{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
   
}
button{
    width: 16vh;
    height: 16vh;
}
.color{
    display: table-cell;
    width: 16vh;
    height: 16vh;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 5px;
    /* border: 2px solid rgb(99, 83, 83); */
    /* box-shadow: 1px 1px 1px 1px ; */
display: flex;

    align-items: center;
    justify-content: center; 
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif ;
    color: #fff;

}
span{
    /* display: flex;
    justify-content: space-between;
    margin-left: 40px; */
}
h2{
    /* margin-right: ; */
}

    
.clr1{
    background-color: rgb(0, 153, 255);
}
.clr2{
    background-color: rgb(229, 255, 0);
}
.clr3{
    background-color: rgb(255, 38, 0);
}
.clr4{
    background-color: rgb(0, 47, 255);
}
.clr5{
    background-color: rgb(0, 255, 98);
}
.clr6{
    background-color: #9b0fdb;
}
.clr7{
    background-color: #db0f97;
}